
.icon-users:before { content: '\e800'; } /* '' */
.icon-logout:before { content: '\e803'; } /* '' */
.icon-flag-empty:before { content: '\f11d'; } /* '' */
.icon-soccer-ball:before { content: '\f1e3'; } /* '' */
.icon-street-view:before { content: '\f21d'; } /* '' */